/* Custom properties */
/* :root is not the same as #root */
:root {
  --font-base: 'Lato', sans-serif;
  --font-display: 'Lobster', sans-serif;
}

/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
}

h1 {
  font-family: var(--font-display);
}
