/* Custom properties */
/* :root is not the same as #root */
:root {
  --font-base: 'Lato', sans-serif;
  --font-display: 'Lobster', sans-serif;
}

/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
}

h1 {
  font-family: var(--font-display);
}

/* Nav */

nav {
  background-color: white;
  color: 333333;
  padding: 10px;
  text-align: center;
  height: 4rem;
  position: sticky;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  position: sticky;
  margin-left: 4rem;
}

nav h2 {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
}

button {
  background-color: #3441ad;
  color: white;
  min-height: 0.625rem;
  min-width: 2.188rem;
  border-radius: 0.3rem;
  margin-left: 5rem;
}
